@font-face {
  font-family: tech;
  src: url(./assets/fonts/tech.otf);
}

* {
  font-family: tech;
}
header h1 {
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
}

header img {
  width: 100%;
  margin:0;
}

header nav ul li {
  list-style: none;
  float: left;
  margin: 30px;
    
}
header nav ul li a
{
color: #000;
}

header nav ul {
  height: 100%;
  margin: 0 32%;

}

header nav {
  height: 100px;
}

header {
  background-color: burlywood;
}

header nav a img {
  margin: 10px;
  width: 50px;
  border-radius: 50%;

}

header nav a {
  float: left;
}

h1 {
  clear: both;
}

section {
  padding: 10px;
  background-color: burlywood;
}

p {
  width: 300px;
}

footer {
  padding: 10px;
  background: #000;
  color: white;
}

footer img {
  width: 500px;
}

span {
  font-weight: bold;
}

footer div p {
  margin-left: 15%;
}

ol {
  list-style-type: none;
}
main section img 
{
margin-left: 15%;
}